.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  
  &__row {
    display: grid;
    width: 100%;
    justify-content: space-between;

    &:nth-of-type(1) {
      grid-template-columns: repeat(13, 4rem) 10rem;
    }

    &:nth-of-type(2) {
      grid-template-columns: 5.02rem repeat(14, 4rem);
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      grid-template-columns: 10.21rem repeat(11, 4rem) 8.78rem;
    }
    
    &:nth-of-type(5) {
      grid-template-columns: repeat(3, 4rem) 34.92rem repeat(5, 4rem);
    }
  }

  &__key {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    $dark-gray: #444444;
    $blue: #0078d4;
    --key-color: #{$dark-gray};

    border: 2px solid var(--key-color);
    border-radius: .5rem;
    background-color: var(--key-color);
    
    color: white;
    font-weight: 500;

    &:hover,
    &:active {
      --key-color: #{$blue};
    }

    &:active {
      transform: scale(0.9);
    }
  }
}